body {
    background-color: #333;
}

canvas {
    border: 1px solid black;
}

.creature-control-box, .info-box {
    background-color: #eee;
    border: 1px solid black;
    margin: 8px;
    padding: 4px;
}
