body {
    background-color: #333;
    font-family: sans-serif;
}

canvas {
    border: 1px solid black;
}

.creature-control-box, .info-box {
    background-color: #eee;
    border: 1px solid black;
    margin: 8px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

#game-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

#controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div[data-hidden=true] {
    display: none;
}
