body {
    background-color: #eee;
    font-family: sans-serif;
    margin: 0;
}

#content {
    display: flex;
    flex-direction: row;
}

p {
    margin-block: 4px;
}

.creature-control-box, .info-box {
    background-color: #eee;
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

#game-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

#controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div[data-hidden=true] {
    display: none;
}

button {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #ddd;
}

button:hover {
    background-color: #bbb;
}

button:active {
    background-color: #999;
}

button:disabled {
    color: #888;
    background-color: #ddd;
}
